#home {
  font-family: courier;
  background-color: #eee;
  margin: 0;
  color:#fff;
  line-height: 1.6;

}
/* showcase */
#showcase{
  margin: 0;
  padding: 0;
  background: url('../img/taust.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#wrapper{
  display:grid;
  grid-template-columns: 10% 20%;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  margin-top: 25vh;
  padding-right: 10px;

}

#wrapper p, h3 {
  padding-left: 10px;

}

#wrapper div{

}

#wrapper .pilt1{
  background-image:url('../img/arnold.jpg');
  background-size: cover;
  margin-left: 40px;
  height: 120px;
  width: 80px;
  opacity: 1;
}

#wrapper .pilt2{
  background-image:url('../img/paul.jpg');
  background-size: cover;
  margin-left: 40px;
  height: 120px;
  width: 80px;
  opacity: 1;
}

#wrapper .pilt3{
  background-image:url('../img/linda.jpg');
  background-size: cover;
  margin-left: 40px;
  height: 120px;
  width: 80px;
  opacity: 1;
}

#wrapper .pilt4{
  background-image:url('../img/michael.jpg');
  background-size: cover;
  margin-left: 40px;
  height: 120px;
  width: 80px;
  opacity: 1;
  }

nav {
  height: 60px;
  width: 100%;
  background-color: #B51B1D;
  opacity: 0.3;
  color: #eee;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: block;
  font-size: 2rem;
  text-align:center;
  text-decoration: none;
  padding: 10px 139px;
  color: #eee;
}
nav li:hover {
  background-color: black;
  opacity: 0.5;

}
nav a#openup {
  display: none;
}

@media screen and (max-width: 1440px) {
.hide-on-small{
  display: none;
}

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #B51B1D;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #B51B3D;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #B51B1D;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
