#home {
  font-family: courier;
  background-color: #eee;
  margin: 0;
  color:#fff;
  line-height: 1.6;
}

/* showcase */
#showcase{
  margin: 0;
  padding: 0;
  background: url('../img/home.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

nav {
  height: 60px;
  width: 100%;
  background-color: #B51B1D;
  opacity: 0.5;
  font-weight: 700;
  color: #eee;
  position: fixed;
}
nav ul {
  list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: block;
  font-size: 2rem;
  text-align:center;
  text-decoration: none;
  padding: 10px 20px;

  color: #eee;
}
nav li:hover {
  background-color: black;
  opacity: 0.5;

}
nav a#openup {
  display: none;
}

@media screen and (max-width: 720px) {
.hide-on-small{
  display: none;
}

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #B51B1D;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #B51B3D;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #B51B1D;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
